#info-holder {
    display: flex;

    justify-content: center;
    align-items: flex-start;

    flex-direction: row;

    width: 50%;
    height: 95%;

    padding: 2rem;

    box-sizing: border-box;
}
