#modal {
    display: flex;
    position: relative;

    justify-content: flex-start;
    align-items: flex-start;

    flex-direction: column;

    gap: 0.5rem;

    width: 40rem;
    height: auto;
    min-height: 16rem;
    max-height: 17rem;

    background-color: rgb(182, 182, 182);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

    -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);

    padding: 1rem;

    overflow-x: hidden;
    overflow-y: scroll;
    
    box-sizing: border-box;
}
#modal::-webkit-scrollbar {
    display: none;
}

#modal-nav {
    display: flex;
    position: relative;

    justify-content: space-between;
    align-items: center;

    flex-direction: row;

    width: 100%;
    height: 2.15rem;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding-left: 1rem;
    padding-right: 0.75rem;

    box-sizing: border-box;

    background-color: rgb(51, 51, 51);
}
#modal-nav > p {
    font-weight: 600;
    font-size: 13pt;
}
#modal-nav-close {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 60%;
    width: 2rem;

    background-color: rgb(182, 182, 182);

    border-radius: 0.4rem;
    transition: 200ms;
}
#modal-nav-close:hover {
    cursor: pointer;
    background-color: rgb(114, 114, 114);

    transition: 200ms;
}
#modal-nav-close img {
    width: auto;
    height: 95%;

    aspect-ratio: 1/1;
}

.modal-item {
    display: flex;

    flex-direction: row;

    width: 100%;
    height: 2rem;
}
.modal-item-descricao {
    display: flex;

    justify-content: flex-start;
    align-items: center;

    flex: row;

    width: 60%;
    height: 100%;
}
.modal-item-descricao img {
    aspect-ratio: 1/1;

    width: auto;
    height: 100%;

    margin-right: 0.5rem;
}
.modal-item-descricao p {
    color: rgb(36, 36, 36);
    
    font-weight: 500;
    font-size: 14pt;
}

.modal-divisor {
    width: 2px;
    height: 100%;

    background-color: rgb(112, 112, 112);

    margin-inline: 0.5rem;

    box-sizing: border-box;
}

.modal-acoes {
    height: 100%;
    flex: 1;
}
.modal-acoes img {
    width: auto;
    height: 100%;

    aspect-ratio: 1/1;
}
.modal-acoes img:hover {
    cursor: pointer;
}
